* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Bona Nova";/*Altera o tio da fonte*/
}

header {
    width: 100%;
}

.cabecalho-conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: "";/* deixar o conteúdo vazio*/
    display: block;/*o conteúdo sera um bloco unico*/
    position: absolute;/*define a posição da imagem*/
    background-image: url(img/fundo.png);/*imagem de fundo*/
    left: 0;/*margem esquerda*/
    top: 0;/*margem superior*/
    width: 100%; /*largura de 100% do espaço disponivel*/
    height: 100%; /*altura de 100% do espaço disponivel*/
    z-index: -1; /*posicionar a imagem abaixo do logotipo*/
    background-size: cover; /*aumentar a imagem mantendo sua proporção*/
    background-repeat: no-repeat; /*não repetir a imagem*/
}

i {
    color: #ff6cb1;
}

.cabecalho-icones {
    gap: 20px;/*espaçamento dos itens*/
    display: flex;/*posicionar icones na horizontal*/  
}

.principal {
    color: #ff6cb1;/*cor da fonte branca*/
    min-height: 80vh;/*altura mínima do elemento*/
    display: flex;/*posicionar icones na horizontal*/
    flex-direction: column;/*posiciona os elementos em uma coluna*/
    align-items: center;/*cenraliza os itens na vertical*/
    justify-content: center;/*centraliza os itens na horizontal*/
    padding: 14px;/*espaçamento interno 14px*/
}

.principal h1 {
    text-align: center;/*centraliza na horizontal*/
    line-height: 150%;/*altura da linha 1,5 vezes o tamanho da fonte*/
    max-width: 940px;/*lagura maxima de 940px*/
    font-size: 60px;/*tamanho da fonte*/
}

.principal p {
    text-align: center;/*centraliza na horizontal*/
    margin: 14px 0;
    font-size: 25px;
}

.botao-contato {
    padding: 14px 28px;/*espaçamento interno acima/abaixo 14px esquerda/ direita 58px*/
    color: black;/*cor da fonte branca*/
    background-color: #97dff1;/*cor de fundo em tom vermelho*/
    border: 0;/*sem borda*/
    font-size: 18px;/*tamanho da fonte 18*/
    text-decoration: none;/*retira o traço abixo da fonte*/
    font-weight: 600;/*espessura do traço da fonte*/
    border-radius: 20px;
}

.botao-contato:hover {/*comportamento do botão quando o mouse passar sobre o botão*/
    animation: scaleButton 0.8s alternate infinite;/*duração da animação*/
}

@keyframes scaleButton {/*animação de escala do botão*/
    form {/*do*/
        transform: scale(1);/*tamanho original*/
    }
    to {/*para*/
        transform: scale(1.07);/*tamanho 1,07 vezes maior*/
    }
}

.sobre {
    background-color: #000000;/*altera cor do fundo*/
    color: #ff6cb1;/*cor da fonte branco*/
}

.sobre-conteudo {
    display: flex;/*posicionar os ícones na horizontal*/
    align-items: center;/*cenraliza os itens na vertical*/
    justify-content: center;/*cenraliza os itens na horizontal*/
    gap: 14px;/*espaçamento entre os ícones*/
    padding: 34px 14px 64px 14px;
}

.sobre-conteudo img{
    max-width: 570px;/*largura max da img*/
}

.sobre-conteudo div{
    flex: 1;
}

.sobre-conteudo h2 {
    font-size: 50px;/*tamanho da fonte*/
    margin-bottom: 24px;/*margem inferior*/
}

.sobre-conteudo p {
    margin-bottom: 14px; /*adiciona um espaçamento entre os parágrafos*/
    line-height: 150%;/*aumenta o espaçamento entre as linhas do parágrafo*/
    font-size: 25px;
}

.servicos {
    background-color: #ff6cb1;/*cor de fundo da seção*/
    color: #000000;
    display: flex; /*posicionar icones na horizontal*/
    flex-direction: column;/*direção/orientação do conteúdo em colunas*/
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

section {
    background-color: #ff6cb1;
    padding: 50px 0;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20;

}
.carrousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        
        padding: 0;
        position: absolute;
        
          &:nth-of-type(5):checked ~ .carrousel_slides .carrousel_slide:first-of-type { margin-left: -400%; }
          &:nth-of-type(4):checked ~ .carrousel_slides .carrousel_slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carrousel_slides .carrousel_slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carrousel_slides .carrousel_slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carrousel_slides .carrousel_slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carrousel_miniaturas li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
          &:nth-of-type(2):checked ~ .carrousel_miniaturas li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
          &:nth-of-type(3):checked ~ .carrousel_miniaturas li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
          &:nth-of-type(4):checked ~ .carrousel_miniaturas li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
          &:nth-of-type(5):checked ~ .carrousel_miniaturas li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    }
}
.carrousel_slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}
.carrousel_slide{
    position:relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    transition: all 300ms ease-out;
    white-space: normal;
    overflow: hidden;

    figure {
        display: flex;
        margin: 0;
    }
    
    img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }
    
    figcaption {
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }
    
    .autor {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;        
    }
    
    &.scrollable {
        overflow-y: scroll;
    }
}
.carrousel_miniaturas {
    list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      
      margin: 0 -10px;

      .carrousel_slides + & {
        margin-top: 20px;
      }
      li {        
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);  
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }
    
    label {
        display: block;
                
                  
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.servicos-conteudo h2 {
    text-transform: uppercase;/*deixa o texto em letras maiúsculas*/
    text-align: center;/*centraliza o título na horizontal*/
    font-size: 38px;/*tamanho da fonte do título*/
    margin-bottom: 14px;/*margem inferior até o próximo parágrafo*/
}

.servicos-conteudo p {
    line-height: 150%;/*aumenta o espacamento entre as linhas do parágrafo"*/
    margin-bottom: 14px;/*"margem inferior até o próximo parágrafo*/
    text-align: left;/*alinha o texto à esquerda"*/
    max-width: 788px;/*largura máxima */
    font-size: 25px;
}

.cortes {
    display: flex;
    align-items: center;/* centralizada os itens na vertical"*/
    justify-content: center;/* centraliza os itens na horizontal"*/
    gap: 16px;/* espaçamento entre os icones*/
    padding: 44px 34px 44px; /*espaçamento acima epx direita 44px abaixo 34px e esquerda 44px*/ 
}
    
.corte {
    flex: 1;
    display: flex;/*posicionar na horizontal"*/
    flex-direction: column;/*direção/orientação do conteúdo em colunas"*/
    background-color: #fff;/* cor de fundo da seção*/
    border-radius: 8px;
    box-shadow: 0px 1px 17px 4px rgba(0, 0, 0, 0.45); /*sombreamento"*/
    overflow: hidden;/*cortar o conteudo que ultrapassa o limite do elemento*/
    font-size: 25px;
}

.corte img {
    width: 100%;/*dimensiona em 100% do espaço*/
    max-width: 354px;
    transition: transform 0.2s;/*duração da animação*/
}

.corte img:hover {/*comportamento da img quando o mouse passar sobre ela*/
    transform: scale(1.2);/*amplia a img em 1,2 vezes*/
    z-index: 1;/*organiza a posição da imagem no eixo z (camada da frente)*/
}

.corte-info {
    width: 100%;/*dimensiona em 100% do espaço*/
    display: flex;/*posiciona os elementos na horizontal*/
    justify-content: space-between; /*adiciona espaçamentos iguais entre os elementos*/
    padding: 14px;/*espaço interno do elemento*/
    background-color: #fff; /*cor de fundo*/
    z-index: 99;/*posiciona a div corte a frente da img*/
}

.corte-info button{
    color: #fff;/*cor da fonte branca*/
    background-color: #d94140;/*cor de fundo em tom de vermelho*/
    padding: 4px 8px;/*espaçamento interno acima/abaixo 4px a esquerda/direita 8px*/
    border-radius: 4px;/*arredondamento da borda em 4px*/
    border: 0;/*sem borda visivel*/
    cursor: default;/*ponteiro do mouse padrão*/
}

.rodape {
    display: flex;
    align-items: center;/* centralizada os itens na vertical"*/
    justify-content: center;/* centraliza os itens na horizontal"*/
    gap: 24px;/* espaçamento entre os icones*/
    padding: 54px 0; /*espaçamento acima epx direita 54px abaixo 0px esquerda*/ 
    flex-direction: column;/*direção/orientação do conteúdo em colunas"*/
    color: #ff6cb1;
}

.rodape h2 {
    font-size: 38px;
    margin-bottom: 24px;
}

.rodape-icones {
    display: flex;
    gap: 8px;
    color: #ff6cb1;
}

.endereco {
    text-align: center;
}

.endereco a {
    color: #ff6cb1;
    line-height: 200%;
    font-size: 25px;
}

body {
    font-family: "Bona Nova";
    width: 100%;
    height:  100vh;
    position: relative;
    background-color: #000000;
}

.cabecalho{
    background-color: #ff6cb1;
    margin-bottom: 10px;

}