body {
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
      }
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0; 
}

header {
    background: #f790b2;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.banner {
    text-align: center;
    margin: 20px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #f790b2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    padding: 20px;
}

.portifolio {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#image-gallery {
    text-align: center;
}

.image {
    display: inline-block;
    margin-right: 20px;
    width: 300px;
}

.image:last-child {
    margin-right: 0;
}

.imagem {
    display: flex;
}