body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9d0de;
    min-height: 100vh;
}

form {
    background-color: #af7f73;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #733d26;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #733d26;
    border-radius: 3px;
}
textarea {
    height: 120px;
}
button {
    background-color: #f8b0c8;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border: #733d26;
    border-radius: 3px;
}

button:hover {
    background-color: #f790b2;
}